<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>#{qTitle question}</title>
</head>

<body>
  <h1>Pregunta de <b>#{qUser question}</b> al tema <a href="@{ThemeR tid}">#{tTitle theme}</a></h1>
  <h2><b>#{qTitle question}</b><i> el dia <b>#{show (qPosted question)}</b></i>
    $if{maybe False (isLeader theme) mbuser}
    <form role="form" method="post" action="@{QuestionR tid qid}">
      <button type="submit" class="btn btn-danger" name="delete-question">Eliminar pregunta</button>
    </form>
    $end
  </h2>
  <pre><font size=4>#{qText question}</font></pre>
  <span class="glyphicon glyphicon-arrow-left"></span> <a href="@{ThemeR tid}">Tornar al tema</a>
  <br>
  <span class="glyphicon glyphicon-home"></span> <a href="@{HomeR}">Tornar al fòrum</a>

  <h2>Llistat de respostes</h2>
  $forall{ p <- answers } <ul>
    <li>
      <p>Resposta de <b>#{aUser (snd p)}</b> a <b>#{show (aPosted (snd p))}:</b>
        <pre style="text-indent: 40px">#{aText (snd p)}</pre>
        <br>
      </p>
      $if{maybe False (isLeader theme) mbuser}
      <form role="form" method="post" action="">
        <input type="hidden" name="aid" value="#{(fst p)}">
        <button type="submit" class="btn btn-danger" name="delete-answer">Eliminar resposta</button>
      </form>
      $end
    </li>
    </ul>
    $end

    $maybe{ user <- mbuser } <h3 style="color: #2e6c80;">Crear un nova resposta
      <span class="glyphicon glyphicon-plus"></span>
      </h3>
      <div class="row">
        <div class="col-sm-10">
          <form role="form" method="POST" action="@{QuestionR tid qid}">
            ^{aformw}
            <button type="submit" class="btn btn-success">Afegeix resposta</button>
          </form>
        </div>
      </div>
      $end

</body>

</html>
