<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>#{qTitle question}</title>
  </head>
  <body>
    <h2>Pregunta de <b>#{qUser question}</b> al tema <a href="@{ThemeR tid}">#{tTitle theme}</a></h2>
    <h3><b>#{qTitle question}</b><i> el dia <b>#{show (qPosted question)}</b></i></h3>
    <p>#{qText question}</p>
    <span class="glyphicon glyphicon-arrow-left"></span> <a href="@{HomeR}">Tornar al tema</a>
    <br>
    <span class="glyphicon glyphicon-home"></span> <a href="@{ThemeR tid}">Tornar al fórum</a>





  </body>
</html>
