<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>#{tTitle theme}</title>
</head>

<body>
  <h1><strong>#{tTitle theme}</strong></h1>
  $if{maybe False (isLeader theme) mbuser}<span style="background-color: #ccc; color: #2e6c80; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">
    <a href="@{ThemeEditR tid}">Modificar tema </a><span class="glyphicon glyphicon-wrench"></span></span>$end
  <h2>Responsable: <strong>#{tLeader theme}</strong> Categoria: <strong>#{tCategory theme}</strong></h2>
  <pre><font size=4>#{tDescription theme}</font></pre>
  <span class="glyphicon glyphicon-home"></span> <a href="@{HomeR}">Tornar al fòrum</a>

  <h2>Llistat de preguntes</h2>
  $forall{ p <- questions } <ul>
    <li>
      <p><b style="color: #2e6c80">#{qTitle (snd p)}</b> preguntada per <b> #{qUser (snd p)} </b> a <b> #{show (qPosted (snd p))} </b> <span class="glyphicon glyphicon-arrow-right"></span>
        <span style="background-color: #ccc; color: #2e6c80; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;"><a href="@{QuestionR tid (fst p)}">Veure pregunta </a>
          <span class="glyphicon glyphicon-question-sign"></span></span>
      </p>
    </li>
    </ul>
    $end

    $maybe{ user <- mbuser } <h3 style="color: #2e6c80;">Crear una nova pregunta
      <span class="glyphicon glyphicon-plus"></span>
      </h3>
      <div class="row">
        <div class="col-sm-10">
          <form role="form" method="POST" action="@{ThemeR tid}">
            ^{qformw}
            <button type="submit" class="btn btn-success">Afegeix pregunta</button>
          </form>
        </div>
      </div>
      $end

</body>

</html>
